@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
@import url(https://fonts.googleapis.com/css?family=Roboto);
/*alapelemek*/
body {
    width: 90%;
    background-color: aliceblue;
    margin: auto;
    font-family: Roboto, sans-serif;
}

h1, header {
    text-align: center;
}

/*menü*/
#navbar {
    position: sticky;
    top: 0;
    width: 100%;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #b88a40;
}

#navbar ul li a {
    float: left;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding: 15px;
    font-size: xx-large;
}

#navbar li a:hover {
    color: #222222;
}

/*menüpontok formázása, ha az adott oldalon vagyunk, nem kattintható a saját magára mutató link*/
#contact nav .contact > a,
#home nav .home > a,
#offers nav .offers > a,
#registration nav .registration > a {
    pointer-events: none;
    cursor: default;
    color: darkgray;
}

/*regisztráció és login menüpontok jobbra rendezése*/
#navbar ul li.registration {
    float: right;
}

#navbar ul li.login {
    float: right;
}

/*bejelentkező mezők és gomb*/
#navbar input[type=text],
#navbar input[type=password] {
    padding: 6px;
    margin-top: 20px;
    margin-right: 5px;
    font-size: 15px;
    width: 120px;
}

#navbar button {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: #FFFFFF;
    background-color: #000000;
    text-align: center;
    transition: all 0.2s;
}

#navbar button:hover {
    color: #000000;
    background-color: #FFFFFF;
}

/*tartalom formázása a main részben*/
section {
    width: 65%;
    text-align: center;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

#introduction {
    text-align: justify;
    padding: 15px;
    box-sizing: border-box;
}

#sidebar {
    margin-top: 15px;
    width: 30%;
    float: left;
    padding: 10px;
    background: #aacae6;
}

/*oldalsáv formázása*/
.sidebar_block {
    margin-bottom: 50px;
    float: left;
    border-bottom: black 1px dotted;
}

.sidebar_header {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-align: center;
    cursor: pointer;
}

.sidebar_header a {
    color: black;
    font-size: larger;
    font-weight: bolder;
    text-decoration: none;
}

.sidebar_header:hover {
    color: blue;
    background: green;
}

.sidepics {
    padding-left: 5px;
    padding-top: 15px;
    float: left;
    width: 45%;
}

.sidedata {
    padding: 30px 0;
    float: left;
    width: 50%;
}

.sidedata_element {
    list-style: square;
    padding: 2px;
    text-align: left;
}

/*kínálat oldal*/

#search_form {
    margin: auto;
}

#search_form input[type=text], input[type=number], select {
    background: #c0d5f0;
    width: 120px;
    border-radius: 7px;
    padding: 2px;
}

#search_form input[type=submit] {
    font-weight: bolder;
    text-transform: uppercase;
    background: #eeeeee;
    margin-top: 20px;
    border-radius: 6px;
}

#search_form input[type=submit]:hover {
    background: #dddddd;
    cursor: pointer;
}

article {
    margin: 50px auto;
    width: 50%;
    border-bottom: black 1px dashed;
}

article > h1 {
    text-transform: uppercase;
}

article > ul {
    list-style: none;
    padding: 0;
}

article > ul > li:first-child {
    font-weight: bolder;
}

.offerpics {
    width: 300px;
}

/*hirdetések formázása*/
.offerimage_container {
    float: left;
    width: 50%;
    margin: 0 auto;
}

.offer_datatable_container {
    float: left;
    width: 40%;
}

.offer_text {
    text-align: justify;
    font-size: larger;
}

.offer_datatable_container table {
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
}

.offer_datatable_container table th, td {
    padding: 3px;
    background: #ddd;
    border-bottom: 1px solid white;
}

.offer_datatable_container table th {
    background: lightslategrey;
    color: white;
}

.offer_description {
    margin-top: 10px;
    float: left;
    width: 90%;
}

/*kapcsolat oldal/*/

.indexfinancial {
    width: 100%;
}

/*regisztrációs oldal form*/
#registration_form {
    margin-top: 10px;
}

#registration_form table {
    width: 50%;
    margin: auto;
}

#registration_form td {
    width: 50%;
    background: beige;
    text-align: left;
    padding: 10px 10px 10px 10px;
    font-size: larger;
}

#registration_form input[type=text]:focus,
#registration_form input[type=password]:focus,
#registration_form input[type=email]:focus {
    background-color: lightblue;
}

#registration_form input[type=submit] {
    margin-top: 20px;
    box-shadow: 0 1px 0 0 #fff6af;
    background: linear-gradient(to bottom, #f0eee2 5%, #ffab23 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0eee2', endColorstr='#ffab23', GradientType=0);
    background-color: #f0eee2;
    border-radius: 6px;
    border: 1px solid #ffaa22;
    display: inline-block;
    cursor: pointer;
    color: #333333;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0 1px 0 #ffee66;
}

#registration_form input[type=submit]:hover {
    background: linear-gradient(to bottom, #ffab23 5%, #f0eee2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#f0eee2', GradientType=0);
    background-color: #ffab23;
}

/*google map formázása a kapcsolat oldalon*/
.mapouter {
    position: relative;
    text-align: right;
    height: 500px;
    width: 600px;
    margin: auto;
}

.gmap_canvas {
    margin-top: 40px;
    overflow: hidden;
    background: none !important;
    height: 66%;
    width: 80%;
}

footer {
    background-color: darkgray;
    border: black 1px solid;
    padding: 20px;
    clear: both;
    text-align: center;
}

.contactimage {
    height: 50px;
}

/*alap reszponzivitás, kis képernyőn sidebar nincs, menü vertikálissá válik, és nem látszik folyamatosan*/

@media (max-width: 1100px) {
    #sidebar {
        display: none;
    }

    section {
        width: 100%;
        font-size: xx-large;
    }

    header {
        display: none;
    }

    #navbar {
        position: relative !important;
        box-shadow: 0 0 5px #000;
        width: 100%;
        margin: 0 auto;
        display: block;
    }

    #navbar ul li a {
        text-align: center;
        float: none;
    }

    #navbar ul li.registration {
        text-align: center;
        float: none;
    }

    #navbar ul li.login {
        text-align: center;
        padding: 5px;
        float: none;
    }
}