body {
    width: 90%;
    background-color: aliceblue;
    margin: auto;
}


header {
    text-align: center;
}

#navbar {
    position: sticky;
    top: 0;
    width: 100%;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blanchedalmond;
}

li {
    float: left;
}

li a {
    display: block;
    color: crimson;
    text-decoration: none;
    padding: 15px;
    font-size: xx-large;

}

li a:hover {
    color: aquamarine;
    text-decoration: none;
    background-color: #111111;
}


#contact nav .contact > a {
    pointer-events: none;
    cursor: default;
    color: darkgray;
}

#home nav .home > a {
    pointer-events: none;
    cursor: default;
    color: darkgray;
}

#offers nav .offers > a {
    pointer-events: none;
    cursor: default;
    color: darkgray;
}

#registration nav .registration > a {
    pointer-events: none;
    cursor: default;
    color: darkgray;
}

ul > li.registration {
    float: right;
}

section {
    width: 65%;
    text-align: center;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

#sidebar {
    width: 30%;
    float: left;
    padding: 10px;
}

.sidebar_item {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
    text-align: center;
}

.sidebar_item:hover {
    color: blue; /* Black text color */

}

@media (min-width: 321px) and (max-width: 768px) {
    #sidebar {
        display: none;
    }
}

footer {
    background-color: darkgray;
    border: black 1px solid;
    padding: 20px;
    clear: both;
    text-align: center;
}

.contactimage {
    height: 50px;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 500px;
    width: 600px;
    margin: auto;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 500px;
    width: 600px;
}
td {
    border: 1px black solid;
}

#sidepics {
    width: 150px;
}

#offerpics {
    width: 300px;
}


