@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
@import url(https://fonts.googleapis.com/css?family=Roboto);
/*alapelemek*/
body {
    width: 90%;
    background-color: aliceblue;
    margin: auto;
}

h1 {
    text-align: center;
}

header {
    text-align: center;
}

/*menü*/
#navbar {
    position: sticky;
    top: 0;
    width: 100%;

}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #b88a40;
}

#navbar ul li a {
    float: left;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding: 15px;
    font-size: xx-large;

}

#navbar li a:hover {
    color: #222222;
    text-decoration: none;

}

/*menüpontok formázása, ha az adott oldalon vagyunk, nem kattintható a saját magára mutató link*/
#contact nav .contact > a {
    pointer-events: none;
    cursor: default;
    color: darkgray;
}

#home nav .home > a {
    pointer-events: none;
    cursor: default;
    color: darkgray;
}

#offers nav .offers > a {
    pointer-events: none;
    cursor: default;
    color: darkgray;
}

#registration nav .registration > a {
    pointer-events: none;
    cursor: default;
    color: darkgray;
}

/*regisztráció és login menüpontok jobbra rendezése*/
#navbar ul > li.registration {
    float: right;
}

#navbar ul > li.login {
    float: right;
}

#navbar input[type=text] {
    padding: 6px;
    margin-top: 20px;
    margin-right: 5px;
    font-size: 15px;
    width: 120px;
}

/*bejelentkező mezők és gomb*/
#navbar input[type=password] {
    padding: 6px;
    margin-top: 20px;
    font-size: 15px;
    width: 120px;
}

#navbar input:focus {
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 255, 0.075);
    -moz-box-shadow: 0px 1px 1px rgba(0, 0, 255, 0.075);
    box-shadow: 0px 1px 1px rgba(0, 0, 255, 0.075);
}

button {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    background-color: #000000;
    text-align: center;
    transition: all 0.2s;
}

#navbar button:hover {
    color: #000000;
    background-color: #FFFFFF;
}

/*tartalom formázása a main részben*/
section {
    width: 65%;
    text-align: center;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Roboto, sans-serif;
}

#introduction {
    text-align: justify;
    padding: 15px;
    box-sizing: border-box;
}

#sidebar {
    margin-top: 15px;
    width: 30%;
    float: left;
    padding: 10px;
    background: #aacae6;
}

/*oldalsáv formázása*/
.sidebar_block {
    margin-bottom: 50px;
    float: left;
    border-bottom: black 1px dotted;
}

.sidebar_header {

    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-align: center;
    cursor: pointer;
}

.sidebar_header a {
    color: black;
    font-size: larger;
    font-weight: bolder;
    text-decoration: none;
}

.sidebar_header:hover {
    color: blue;
    background: green;
}

.sidepics {
    padding-left: 5px;
    padding-top: 15px;
    float: left;
    width: 45%;
}

.sidedata {
    padding: 30px 0;
    float: left;
    width: 50%;
}

.sidedata_element {
    list-style: square;
    padding: 2px;
    text-align: left;
}

/*kis képernyőn sidebar nincs, menü vertikálissá válik, és nem látszik mindig*/

@media (max-width: 1100px) {
    #sidebar {
        display: none;
    }

    section {
        width: 100%;
        font-size: xx-large;
    }

    nav {
        position: relative !important;
        box-shadow: 0 0 5px #000;
    }

    #navbar {
        width: 60%;
        text-align: center;
        margin: 0 auto;
    }

    nav li {
        text-align: center;
        width: 100%;
        padding: 5px 0;
        margin: 0;
        float: none;
    }
}


.offerpics {
    width: 300px;
}

/*hirdetések formázása*/
.offerimage_container {
    float: left;
    width: 50%;
    margin: 0 auto;
}

.offer_datatable_container {
    float: left;
    width: 40%;
}

.offer_description {
    float: left;
    width: 90%;
}

.offer_text {
    text-align: justify;
    font-size: larger;
}

table {
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
}

th, td {
    padding: 3px;
    background: #ddd;
    border-bottom: 1px solid white;
}

th {
    background: lightslategrey;
    color: white;
}

/*regisztrációs oldal form*/

#registration_form table {
    width: 50%;
    margin: auto;
}

#registration_form td {
    width: 50%;
    background: beige;
    text-align: left;
    padding: 10px 10px 10px 10px;
    font-size: larger;
}

#registration_form input[type=text]:focus,
#registration_form input[type=password]:focus,
#registration_form input[type=email]:focus {
    background-color: lightblue;
}

#registration_form input[type=submit] {
    margin-top: 20px;
    -moz-box-shadow: 0px 1px 0px 0px #fff6af;
    -webkit-box-shadow: 0px 1px 0px 0px #fff6af;
    box-shadow: 0px 1px 0px 0px #fff6af;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f0eee2), color-stop(1, #ffab23));
    background: -moz-linear-gradient(top, #f0eee2 5%, #ffab23 100%);
    background: -webkit-linear-gradient(top, #f0eee2 5%, #ffab23 100%);
    background: -o-linear-gradient(top, #f0eee2 5%, #ffab23 100%);
    background: -ms-linear-gradient(top, #f0eee2 5%, #ffab23 100%);
    background: linear-gradient(to bottom, #f0eee2 5%, #ffab23 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0eee2', endColorstr='#ffab23', GradientType=0);
    background-color: #f0eee2;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #ffaa22;
    display: inline-block;
    cursor: pointer;
    color: #333333;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffee66;
}

#registration_form input[type=submit]:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #f0eee2));
    background: -moz-linear-gradient(top, #ffab23 5%, #f0eee2 100%);
    background: -webkit-linear-gradient(top, #ffab23 5%, #f0eee2 100%);
    background: -o-linear-gradient(top, #ffab23 5%, #f0eee2 100%);
    background: -ms-linear-gradient(top, #ffab23 5%, #f0eee2 100%);
    background: linear-gradient(to bottom, #ffab23 5%, #f0eee2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#f0eee2', GradientType=0);
    background-color: #ffab23;
}


/*google map formázása a kapcsolat oldalon*/
.mapouter {
    position: relative;
    text-align: right;
    height: 500px;
    width: 600px;
    margin: auto;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 500px;
    width: 600px;
}

footer {
    background-color: darkgray;
    border: black 1px solid;
    padding: 20px;
    clear: both;
    text-align: center;
}

.contactimage {
    height: 50px;
}

.indexfinancial{
	width: 100%;
}